.interna_portfolio{
	background: url("../img/bg-portifolio.jpg") no-repeat center;
	background-size: cover;
}


.quote_cliente{
	padding: 60px 0;
	max-width: 500px;
	margin: 0 auto;
}

.quote_cliente p{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	line-height: 25px;
	font-style: italic;
	text-align: center;
	margin-bottom: 20px;
}


.quote_cliente cite{
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	float: right;
	font-style: normal;

}